._cadencedShimmer_1q6es_1 {
  text-fill-color: currentColor;
  -webkit-text-fill-color: currentColor;
  background: 0 0;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  animation: none;
  position: relative;
}
@layer components {
  ._cadencedShimmer_1q6es_1,
  ._cadencedShimmer_1q6es_1 * {
    color: var(--shimmer-text-secondary) !important;
  }
  ._cadencedShimmer_1q6es_1 ._cadencedShimmerHighlight_1q6es_17,
  ._cadencedShimmer_1q6es_1 ._cadencedShimmerHighlight_1q6es_17 * {
    color: var(--shimmer-contrast) !important;
  }
}
._cadencedShimmerSweep_1q6es_23 {
  pointer-events: none;
  width: 100%;
  position: absolute;
  inset: 0 auto 0 0;
  overflow: hidden;
  transform: translate(-50%);
  -webkit-mask-image: linear-gradient(
    90deg,
    #0000 0%,
    #000 20% 30%,
    #0000 50% 100%
  );
  mask-image: linear-gradient(90deg, #0000 0%, #000 20% 30%, #0000 50% 100%);
}
._cadencedShimmerHighlight_1q6es_17 {
  text-fill-color: currentColor;
  -webkit-text-fill-color: currentColor;
  width: 100%;
  display: block;
  transform: translate(50%);
}
._cadencedShimmerActive_1q6es_56 ._cadencedShimmerSweep_1q6es_23,
._cadencedShimmerActive_1q6es_56 ._cadencedShimmerHighlight_1q6es_17 {
  animation-duration: 1s;
  animation-timing-function: steps(48, end);
  animation-iteration-count: 1;
}
._cadencedShimmerActive_1q6es_56 ._cadencedShimmerSweep_1q6es_23 {
  animation-name: _cadencedLoadingShimmerSweep_1q6es_1;
}
._cadencedShimmerActive_1q6es_56 ._cadencedShimmerHighlight_1q6es_17 {
  animation-name: _cadencedLoadingShimmerHighlight_1q6es_1;
}
@media (prefers-reduced-motion: reduce) {
  ._cadencedShimmerActive_1q6es_56 ._cadencedShimmerSweep_1q6es_23,
  ._cadencedShimmerActive_1q6es_56 ._cadencedShimmerHighlight_1q6es_17 {
    animation: none;
  }
}
@keyframes _cadencedLoadingShimmerSweep_1q6es_1 {
  0% {
    transform: translate(-50%);
  }
  to {
    transform: translate(125%);
  }
}
@keyframes _cadencedLoadingShimmerHighlight_1q6es_1 {
  0% {
    transform: translate(50%);
  }
  to {
    transform: translate(-125%);
  }
}
