._fillOnMount_q754t_1 {
  animation: _progression-donut-fill_q754t_1 var(--transition-duration-relaxed)
    ease-out backwards;
}
@keyframes _progression-donut-fill_q754t_1 {
  0% {
    stroke-dashoffset: 100px;
  }
}
@media (prefers-reduced-motion: reduce) {
  ._fillOnMount_q754t_1 {
    animation: none;
  }
}
