.ProseMirror .placeholder {
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
}
.ProseMirror .placeholder:after {
  color: var(--color-token-input-placeholder-foreground);
  content: attr(data-placeholder);
  opacity: 0.5;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  position: absolute;
  inset: 0 0 auto;
  overflow: hidden;
}
.ProseMirror .placeholder::selection {
  color: inherit;
  background: 0 0;
}
.ProseMirror .placeholder ::selection {
  color: inherit;
  background: 0 0;
}
.ProseMirror .ProseMirror-selectednode:has([skill-mention-name]) {
  outline: none;
}
._root_b08m1_1 .ProseMirror ul {
  list-style-type: disc;
}
._root_b08m1_1 .ProseMirror ul ul {
  list-style-type: circle;
}
._root_b08m1_1 .ProseMirror ul ul ul {
  list-style-type: square;
}
