._positioner_1mxvg_1 {
  width: clamp(
    0px,
    calc(var(--radix-tooltip-trigger-width, 0px) - 64px),
    var(--radix-tooltip-content-available-width, 100vw)
  );
  height: min(
    420px,
    var(--radix-tooltip-content-available-height, 420px),
    calc(100vh - 16px)
  );
  pointer-events: none;
  flex-direction: column;
  justify-content: flex-end;
  display: flex;
  overflow: visible;
}
._positioner_1mxvg_1[data-side="bottom"] {
  justify-content: flex-start;
}
._positioner_1mxvg_1[data-side="bottom"] ._surface_1mxvg_23 {
  align-self: flex-start;
}
._surface_1mxvg_23 {
  pointer-events: auto;
  align-self: flex-end;
  width: 100%;
  max-height: 100%;
}
